* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
  font-size: 1em;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
  letter-spacing: -1px;
}
